<% if logged_in? %>

    <div class="hidden-xs">
        <div class="center-item">
            <div>
                <img src="../../images/flatground.jpg" width="350" height="200">
                <p class="caption">FLATGROUND TRICKS</p>
            </div>

            <div>
                <img src="../../images/ledge.jpg" width="350" height="200">
                <p class="caption">LEDGE</p>
            </div>

            <div>
                <img src="../../images/clip.png" width="350" height="200">
                <p class="caption">CLIP OF THE DAY</p>
            </div>

            <div>
                <img src="../../images/rail.jpg" width="350" height="200">
                <p class="caption">RAILS</p>
            </div>

            <div>
                <img src="../../images/stairs.jpg" width="350" height="200">
                <p class="caption">STAIRS</p>
            </div>
        </div>

         <nav class="navbar  navbar-inverce">
             <ul class="nav nav-tabs nav-justified">
                 <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to root_path do %>CLIP OF THE DAY <span class="badge"><%= @count_clips %></span><% end %></li>
              <% @genres.each do |genre| %>
                 <li class="<%= 'active' if current_page?(genre_path(genre.id)) %>"><%= link_to genre_path(genre.id) do %><%= genre.name %> <span class="badge"><%= genre.clips.count %></span><% end %></li>
              <% end %>
             </ul>
         </nav>


      <ul class="media-list">

         <% @videos.each do |video| %>
         <%#= video.inspect %>
          <div class="text-center">
            <div>
              <iframe width="560" height="315" src="<%= video.iframe_url %>;modestbranding=1;end=7;rel=0&autoplay=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen"></iframe>
            </div>

            <div>
             <%= render 'favorites/like_button', video: video %><span class="badge"><%= video.favorites.count %></span>
            </div>

            <div class= "details">
              <p><%= video.trick %></p>
            </div>

             <div class= "details">
              <p><%= video.skater %></p>
            </div>

             <div class= "details">
              <p><%= video.instagram_url %></p>
            </div>

            <div>
                <%= video.video_url %>
            </div>
          </div>
        <% end %>

      </ul>

    </div>


    <div class="visible-xs">
      <div class="center-item">
        <div>
          <img src="../../images/flatground.jpg" width="200" height="100">
            <p class="caption">FLATGROUND TRICKS</p>
        </div>

        <div>
          <img src="../../images/ledge.jpg" width="200" height="100">
            <p class="caption">LEDGE</p>
        </div>

        <div>
          <img src="../../images/clip.png" width="200" height="100">
            <p class="caption">CLIP OF THE DAY</p>
        </div>

        <div>
          <img src="../../images/rail.jpg" width="200" height="100">
            <p class="caption">RAILS</p>
        </div>

        <div>
          <img src="../../images/stairs.jpg" width="200" height="100">
            <p class="caption">STAIRS</p>
        </div>
     </div>


      <nav class="navbar  navbar-inverce">
        <ul class="nav nav-tabs nav-justified">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to root_path do %>CLIP OF THE DAY <span class="badge"><%= @count_clips %></span><% end %></li>
          <% @genres.each do |genre| %>
            <li class="<%= 'active' if current_page?(genre_path(genre.id)) %>"><%= link_to genre_path(genre.id) do %><%= genre.name %> <span class="badge"><%= genre.clips.count %></span><% end %></li>
          <% end %>
        </ul>
      </nav>


      <ul class="media-list">

         <% @videos.each do |video| %>
         <%#= video.inspect %>
          <div class="text-center">
            <div>
              <iframe width="100%" height="194" src="<%= video.iframe_url %>;modestbranding=1;end=7;rel=0&autoplay=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen"></iframe>
            </div>

            <div>
             <%= render 'favorites/like_button', video: video %><span class="badge"><%= video.favorites.count %></span>
            </div>

            <div class= "details">
              <p><%= video.trick %></p>
            </div>

             <div class= "details">
              <p><%= video.skater %></p>
            </div>

             <div class= "details">
              <p><%= video.instagram_url %></p>
            </div>

            <div>
                <%= video.video_url %>
            </div>
          </div>
        <% end %>

      </ul>

    </div>


<% else %>

    <div class="facebook-modal-wrapper" id="facebook-modal">
        <div class="moda2">
            <div class="close-modal">
                <i class="fa fa-2x fa-times"></i>
            </div>

        <div id="facebook-form">

            <h1><span class="fa fa-facebook"></span>Facebookで登録</h1>
            <%= form_for(@user) do |f| %>
                <div class="form-group">
                    <%= f.text_field :name, class: 'form-control', :placeholder => "お名前" %>
                </div>

                <div class="form-group">
                    <%= f.email_field :email, class: 'form-control', :placeholder => "メールアドレス" %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password, class: 'form-control', :placeholder => "パスワード" %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "パスワード(確認)"%>
                </div>
        </div>
                <div class = "text-center">
                    <%= f.submit '新規登録', class: 'facebook-submit-btn' %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="twitter-modal-wrapper" id="twitter-modal">
        <div class="moda2">
            <div class="close-modal">
                <i class="fa fa-2x fa-times"></i>
            </div>

        <div id="twitter-form">

            <h1><span class="fa fa-twitter"></span>Twitterで登録</h1>
            <%= form_for(@user) do |f| %>
                <div class="form-group">
                    <%= f.text_field :name, class: 'form-control', :placeholder => "Twitterユーザー名" %>
                </div>

                <div class="form-group">
                    <%= f.email_field :email, class: 'form-control', :placeholder => "Twitterメールアドレス" %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password, class: 'form-control', :placeholder => "パスワード" %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "パスワード(確認)"%>
                </div>
        </div>
                <div class = "text-center">
                    <%= f.submit '新規登録', class: 'twitter-submit-btn' %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="instagram-modal-wrapper" id="instagram-modal">
        <div class="moda2">
            <div class="close-modal">
                <i class="fa fa-2x fa-times"></i>
            </div>

        <div id="instagram-form">

            <h1><span class="fa fa-instagram"></span>Instagramで登録</h1>
            <%= form_for(@user) do |f| %>
                <div class="form-group">
                    <%= f.text_field :name, class: 'form-control', :placeholder => "Instagramユーザー名" %>
                </div>

                <div class="form-group">
                    <%= f.email_field :email, class: 'form-control', :placeholder => "Instagramメールアドレス" %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password, class: 'form-control', :placeholder => "パスワード" %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "パスワード(確認)"%>
                </div>
        </div>
                <div class = "text-center">
                    <%= f.submit '新規登録', class: 'instagram-submit-btn' %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="signup-modal-wrapper" id="signup-modal">
        <div class="moda2">
            <div class="close-modal">
                <i class="fa fa-2x fa-times"></i>
            </div>

        <div id="signup-form">
            <h1><span class="fa fa-envelope"></span>Emailで新規登録</h1>

            <%= form_for(@user) do |f| %>
                <div class="form-group">
                    <%= f.text_field :name, class: 'form-control', :placeholder => "お名前" %>
                </div>

                <div class="form-group">
                    <%= f.email_field :email, class: 'form-control', :placeholder => "メールアドレス" %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password, class: 'form-control', :placeholder => "パスワード" %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "パスワード(確認)"%>
                </div>
        </div>
                <div class = "text-center">
                    <%= f.submit '新規登録', class: 'submit-btn' %>
                </div>
            <% end %>
        </div>
    </div>



    <div class="login-modal-wrapper" id="login-modal">
        <div class="moda">
            <div class="close-modal">
                <i class="fa fa-2x fa-times"></i>
            </div>

            <div id="login-form">
                <h1><span class="fa fa-user"></span>ログイン</h1>
                <%= form_for(:session, url: login_path) do |f| %>
                    <div class="form-group">
                        <%= f.email_field :email, class: 'form-control', :placeholder => "登録メールアドレス" %>
                    </div>

                    <div class="form-group">
                         <%= f.password_field :password, class: 'form-control', :placeholder => "パスワード"%>
                    </div>
             </div>
                     <%= f.submit 'ログイン', class: 'login-submit-btn' %>
                 <% end %>
        </div>
    </div>




<% content_for :cover do %>

    <div id="viewer">
        <img src="/images/cover-skate2.jpg" width="100%" height="1000"/>
        <img src="/images/clip.png" width="100%" height="800" />
        <img src="/images/cover-skate3.jpg" width="100%" height="800" />
        <img src="/images/cover-skate4.jpg" width="100%" height="800" />
        <img src="/images/cover-skate5.jpg" width="100%" height="800" />
    </div>


    <h1 class="toppage_caption">スキルアップを目指す全スケートボーダーへ</h1>
    <div class="center">
          <%= link_to 'PEBBLE SKATE SERVICEを始める', login_path, class: 'start_button btn btn-success btn-lg' %>
    </div>
 <%# <%= link_to 'PEBBLE SKATE CLIPSを始める', signup_path, class: 'btn register' %>

    <h1 class ="description" >LEARN HOW TO SKATE.<br>TO BE MORE CREATIVE.</h1>

    <div class="btn signup signup-show"><span class="fa fa-envelope"></span>新規登録はこちら</div>
    <div class="center">
    <div class="btn login login-show"><span class="fa fa-user"></span>ログイン</div>
    </div>
    <div class="btn facebook facebook-show"><span class="fa fa-facebook"></span>Facebookで登録</div>
    <div class="btn twitter twitter-show"><span class="fa fa-twitter"></span>Twitterで登録</div>
    <div class="btn instagram instagram-show"><span class="fa fa-instagram"></span>Instagramで登録</div>

<% end %>


<div class="lesson-wrapper">
    <div class="container">
        <div class="heading">
            <h2>Genres of videos</h2>
        </div>
        <div class="lessons">
            <div class="lesson lesson-hover">
                <div class="lesson-icon">
                    <img src="../../images/flatground.jpg" width="200" height="200"">
                    <p>FLATGROUNDS</p>
                </div>
                <p class="text-contents">どんな場所でも磨くことのできるフラットグラウンドトリック、あなたに数々のアイデアを提供します。</p>
            </div>
            <div class="lesson lesson-hover">
                <div class="lesson-icon">
                    <img src="../../images/ledge.jpg" width="200" height="200">
                    <p>LEDGES</p>
                </div>
                <p class="text-contents">レッジを使ったカーブトリック、クリエイティブな組み合わせをあなたに提案します。</p>
            </div>
            <div class="lesson lesson-hover">
                <div class="lesson-icon">
                    <img src="../../images/rail.jpg" width="200" height="200">
                    <p>RAILS</p>
                </div>
                <p class="text-contents">高難易度のハンドレールへ挑むあなたをサポートします。</p>
            </div>
            <div class="lesson lesson-hover">
                <div class="lesson-icon">
                    <img src="../../images/stairs.jpg" width="200" height="200">
                    <p>STAIRS</p>
                </div>
                <p class="text-contents">果敢にステアに挑むあなたへ、インスピレーションと鮮明なイメージをあなたに与えます。</p>
            </div>
        </div>
    </div>
</div>

<div class="faq-wrapper">
    <div class="container">
        <div class="heading">
            <h1>FAQ</h1>
        </div>
        <div class="faq">
          <ul id="faq-list">
        <li class="faq-list-item">
          <h3 class="question">PEBBLEはどんなスケーターに向いていますか？</h3>
          <span>+</span>
          <div class="answer">
            <p>初心者から上級者まで、全スケーターが学習できるので、全スケートボーダー対象のサービスになります。</p>
          </div>
        </li>
        <li class="faq-list-item">
          <h3 class="question">PEBBLEを通して何ができますか？</h3>
          <span>+</span>
          <div class="answer">
            <p>トリックの動画を通して、アイデアやコツを吸収しながら、イメージトレーニングを行うことができます。</p>
          </div>
        </li>
        <li class="faq-list-item">
          <h3 class="question">どのようなトリックが視聴可能ですか?</h3>
          <span>+</span>
          <div class="answer">
            <p>洗練された、美しいトリックの全収録を心がけています。随時更新中になります。</p>
          </div>
        </li>
      </ul>
        </div>
    </div>
</div>

<div class="message-wrapper">
    <div class="container">
        <div class="heading">
            <p>PEBBLEはオンラインスケートボード学習サービスです。<br>初心者、上級者問わず、数々のトッププロのトリックの動画に出会い、理想に近付くサポートをします。</p>
            <h3>We support skateboarders all around the world.</h3>
            <h3 id="tagline">Let's learn how to skate ,  to be an ideal skateboarder.</h3>
        </div>
        <div class="btn message signup-show">START</div>
    </div>
</div>



<% end %>
